@import "overrides";

page {
  background: #F5F5F5;
}

//水平垂直居中
.page-middile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  &-sublet {
    width: 343px * $hd;
    height: 104px * $hd;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16);
    border-radius: 12px * $hd;
  }
  &-sublet-image {
    height: 104px * $hd;
    width: 140px * $hd;
    border-radius: 12px * $hd 0px * $hd 0px * $hd 12px * $hd;
  }
  &-house {
    // width: 95px * $hd;
    height: 22px * $hd;
    background: #255BFF;
    opacity: 1;
    border-radius: 5px * $hd;
    color: #ffffff;
  }
  &-member {
    &-search {
      width: 270px * $hd;
      height: 30px * $hd;
      background: rgb(243, 240, 240);
      border-radius: 15px * $hd;
    }

    &-button {
      width: 60px * $hd;
      height: 30px * $hd;
      background: #255BFF;
      border-radius: 5px * $hd;
      color: #FFFFFF;
    }
  }
}

.page-over-hidden {
  width:80vw;
  overflow: hidden; //超出一行文字自动隐藏
  text-overflow: ellipsis; //文字隐藏后添加省略号
  white-space: nowrap; //强制不换行
}
.sublet-back {
  width: 115px * $hd;
  height: 40px * $hd;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 6px * $hd rgba(0, 0, 0, 0.21);
  opacity: 1;
  border-radius: 22px * $hd;
  position: fixed;
  bottom: 4%;
  right: 4%;
}
.sublet-button {
  width: 25px * $hd;
  height: 25px * $hd;
  background: rgba(255, 201, 25, 1);
  border-radius: 50%;
  opacity: 1;
}
